.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: cursive;
}

.images {
  width: 600px;
  height: 600px;
}

.btn {
  margin-top: 40px;
}

.paragraph {
  margin-top: 30px;
  max-width: 50%;
}

.title {
  max-width: 50%;
}